page-register {
  ion-icon {
    font-size: 4em;
    margin: 5px auto;
    width: 100%;
  }

  .center {
    text-align: center;
  }

  .terms-text {
    text-align: left;
    font-size: 12px;
  }

  #alert-toggle {
    margin: 0 40% 50px;
    width: 80px;
    text-align: center;
  }

  /* Pagination bullets not showing: hack fix */
  .swiper-pagination {
    display: block!important;
  }

  .symptoms-slider-header {
    display: block;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
  }

  .symptoms-slider-header-prev {
    display: block;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
  }
}
